.stuff{
    color: black;
}

.landing {
    background-color: #001155;
    width: calc(100% + 30px);
    height: 200px;
    margin: -20px -15px 0 -15px;
    background-image: url($frontendUrl + '/preview.jpg');
    background-size: cover;
    position: relative;
}

.title {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #2f4f4f;
}

.featureContainer {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.stepContainer {
    width: 100%;
    display: block;
    position: absolute;
}

.stepContainerHidden {
    width: 100%;
    display: block;
    visibility: hidden;
    position: absolute;
}

.parentContainer {
    display: inline-block;
    width: 100%;
    margin-left: 20px;
}

@media (max-width: 550px) {
    .landing {
        height: 100px;
    }
}


.featureBlockCol1 {
    background-color: #6ed3cf;
}

.featureBlockCol2 {
    background-color: #9068be;
}

.featureBlockCol3 {
    // background-color:  #e1e8f0;
    background-color: #4da5f4;
}
.featureBlockCol4 {
    background-color: #e46673e5;
}
