.container {
    width: 100%;
}

.button {
    border: none;
    background-color: #ececec;
    color: #000;
}

.maxWidth {
    width: 100%;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}