.container {
    width: 100%;
    margin-top: 20px;
}

.button {
    background-color: #ffffff;
    color: #2f4f4f;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    display: inline-block;
    width: calc(50% + 20px);
    height: 40px;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
}

body .button.selected {
    border-bottom: none;
}

body .button:not(.selected) {
    background-color: #fafafa;
}

.button:hover,
.submitButton:hover {
    background-color: #dcdcdc;
}

.button:first-child {
    border-right: none;
    margin-left: -20px;
}

.button:last-child {
    margin-right: -20px;
}

.workContainer {
    margin-top: 20px;
}

.keywordInput {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
}

.fileUpload {
    width: 50%;
    height: 30px;
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
    position: relative;
}

.fileUploadOverlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #808080;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}

.fileUploadControl:hover {
    cursor: pointer;
}

.fileUploadControl{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}

.visible {
    display: block;
}

.visibleInline {
    display: inline-block;
}

.hidden {
    display: none;
}

.submitButton {
    background-color: #ffffff;
    color: #2f4f4f;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    width: 120px;
    margin: 20px 0;
    text-align: center;
    display: inline-block;  
}

.spinner {
    width: 50px;
    height: 50px;
}

.progress {
    margin: 5px 0;
    padding: 4px 10px;
    background-color: darkkhaki
}

.inputLabel {
    font-weight: bold;
    color: #2f4f4f;
}
